<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <Extension>
                <general>
                    <enableDisable>1</enableDisable>
                    <productview>1</productview>
                    <productorder>1</productorder>
                    <productqty>1</productqty>
                </general>
            </Extension>
        </default>
    </config>