<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Esparksinc_Extension::Esparksinc" title="Esparksinc" module="Esparksinc_Extension" sortOrder="10" resource="Esparksinc_Extension::extension"/>
        <add id="Mageplaza_HelloWorld::Extension" title="Inventory Counter" module="Esparksinc_Extension" sortOrder="10" action="adminhtml/system_config/edit/section/Extension/" resource="Esparksinc_Extension::extension" parent="Esparksinc_Extension::Esparksinc"/>
    </menu>
</config>

